nav {
  .brand-logo {
    .version {
      font-weight: 100;
      font-size: 0.4em;
      opacity:0.7;
    }
  }
}

.sidenav {
  li {
    .subheader {
      text-transform: uppercase;
    }
    .brand-logo {
      .version {
        font-weight: 100;
        font-size: 0.4em;
        opacity:0.7;
      }
    }
  }
}